.group {
  button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
