<mat-card (click)="openDetail()">
  <mat-card-header class="stretch-title">
    <mat-card-title class="card-title">
      <span class="card-title-text">
        {{ movie.title }}
      </span>
      <app-bookmark
        [movie]="movie"
        (bookmarked)="bookmarkAction()"
      ></app-bookmark>
    </mat-card-title>
    <mat-card-subtitle class="card-subtitle">
      <app-rating-start [rating]="movie.rating"></app-rating-start>
      {{ movie.releasedDate }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img
      mat-card-image
      [ngSrc]="movie.thumbnailLink"
      width="300"
      height="400"
      priority
      alt="Photo of a Shiba Inu"
    />
    <p class="movie-description">
      {{ movie.description }}
    </p>
  </mat-card-content>
</mat-card>
